#cam-canvas-div {
    height: 600px;
    overflow: hidden;
}

#cam-canvas {
    display: block;
    max-width: 100%;
}

body {
    text-align: center;
}

.hidden {
    display: none;
}

.left-align {
    text-align: left;
}

.image-input {
    text-align: center;
}

.file-upload {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
